#checkers > div {
    float: left;
}
#checkers {
    width: 500px;
    height: 500px;
    border: 5px solid #999;
}
.cell {
    float: left;
    width: 12.5%;
    height: 12.5%;
}
.cell__black {
    background-color: #ccc;
}
.cell__white {
    background-color: #fff;
}
.cell.highlight {
    background-color: #cfd22d;
    opacity: 0.5;
}
.checker {
    height: 100%;
    cursor: pointer;
}
.checker.active:after {
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.5);
    border: 5px solid rgba(0,0,0,0.7);
}
.checker:after {
    content: '';
    border-radius: 50%;
    width: 80%;
    height: 80%;
    position: relative;
    display: block;
    left: 10%;
    top: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.checker__red:after {
    background-color: red;
    border: 5px solid #c70000;
}
.checker__blue:after {
    background-color: blue;
    border: 5px solid #05039e;
}