#checkers > div {
    float: left;
}
#board {
    width: 500px;
    height: 500px;
    border: 5px solid #999;
}
.row {
    height: 12.5%;
}
.cell {
    float: left;
    width: 12.5%;
    height: 100%;
}
.cell__black {
    background-color: #ccc;
}
.cell__white {
    background-color: #fff;
}
.check {
    height: 100%;
    cursor: pointer;
}
.check.active:after {
    box-shadow: 1px 4px 5px 5px rgba(0,0,0, 0.5);
    border: 5px solid rgba(0,0,0,0.7);
}
.check:after {
    content: '';
    border-radius: 50%;
    width: 80%;
    height: 80%;
    position: relative;
    display: block;
    left: 10%;
    top: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.check__red:after {
    background-color: red;
    border: 5px solid #c70000;
}
.check__blue:after {
    background-color: blue;
    border: 5px solid #05039e;
}