@import vars
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic')

body
    background: linear-gradient(227deg, #EBEBEB 0%, #C5C6C8 100%), linear-gradient(155deg, rgba(255,255,255,0.50) 5%, rgba(0,0,0,0.50) 100%)
    background-blend-mode: multiply
    height: 100vh

#game
    display: flex

.board_container
    max-width: 960px
    width: 90%
    margin: 0 auto

#board
    position: relative
    width: 80vmin
    height: 80vmin
    border: 15px solid $light_cell
    box-sizing: border-box
    > div
        float: left
    &:before
        content: ''
        display: block
        position: absolute
        height: 100%
        top: -5px
        left: -5px
        width: 100%
        border: 5px solid $dark_cell

.board.dark_player
    transform: rotate(180deg)

#info
    visibility: hidden
    padding-top: 1%
    margin-left: 1%
    font-size: 1vmax
    >div
        margin-bottom: 20px

#chat
    display: none
    width: 100%

.chat_window
    border: 1px solid #eee
    border-radius: 5px
    background-color: #fff

#chat_content
    height: 30vmin
    color: #212121
    padding: 10px
    overflow-y: scroll

#message
    width: 100%
    outline: none
    border: none
    border-top: 3px solid #ccc
    line-height: 2em
    font-size: 18px
    padding-left: 10px
    box-sizing: border-box

#send
    margin-top: 10px
    border: none
    cursor: pointer
    font-size: 1em
    padding: 2% 10%
    border-radius: 3px
    background: #F44336
    color: #fff
    outline: none
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12)
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1)

#send:hover
    box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19)


@media only screen and (max-width: 1200px)
    #game
        flex-direction: column

    #info
        order: 2
        font-size: 2vmax
        margin: 0 auto
        width: 90%
        max-width: 960px

.cell
    float: left
    width: 12.5%
    height: 12.5%
    &.highlight
        cursor: pointer
        background-color: #cfd22d
        opacity: 0.5

.cell__black
    background-color: #562700

.cell__white
    background-color: #D59A66

.checker
    height: 100%
    cursor: pointer
    &:after
        content: ''
        border-radius: 50%
        width: 88%
        height: 88%
        position: relative
        display: block
        left: 6%
        top: 6%
        box-sizing: border-box
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        transition: all 0.3s cubic-bezier(.25,.8,.25,1)
    &.active:after
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    &.marked
        box-shadow: inset 0 0 4px 4px #cfd22d
    &.queen:after
        background-image: url('../img/crown.svg')
        background-repeat: no-repeat
        background-position: center center
        background-size: cover

.checker__red:after
    background-color: $light_checker

.checker__blue:after
    background-color: $dark_checker

#current_turn_color
    display: inline-block
    width: 5vmin
    height: 5vmin
    vertical-align: middle
    border-radius: 50%
